
$color:(
    primary:#005DFF,
    black:rgb(20, 0, 0),
    light-color:#f4F4F4,
    josue:#b37400,
    little-white:#fff,
    orange:orange,
    litleblue:rgb(186, 186, 252),
    primary-light:lighten(#005DFF ,40%),
    primary-dark:darken(#005DFF ,40%),
    accent:#fff6bb,
    secondary:gray,
    info:rgb(218, 218, 172),
    success:green,
    danger:red,
    warning:rgb(255, 255, 0)
);